<html>
    <head>
        <title>Bootstrap Demonstation</title>
        <link href="{{ url_for('static', 
        filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <style>
        body{
            padding-top: 50px;
        }
    </style>
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
                    aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar- brand" href="#">ProjectName</a>
                </div>
                <div id="navbar- brand" href="#">ProjectName</div>
            </div>
        </nav>
        <h1>HELLO</h1>
        <h2>Napier</h2>
        <P>Demonstarting a flaskk app with templates for html generation and bootstrap for a little bit of stylr</P>
    </body>
</html>